* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #33988a 0%,
        #33988a 15%,
        #dadcd6 15%,
        #dadcd6 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
}

.container {
    display: inline-block;
    background-color: #ffffff;
    height: 95%;
    width: 70%;
    display: flex;
}

.aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #d7d7d7;
}

.main {
    flex-grow: 1;
    background-color: azure;
}

.header-aside,
.header-main {
    height: 50px;
    padding: 5px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.personal-image,
.active-user-image {
    height: 100%;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal-image img,
.active-user-image img {
    height: 100%;
    border-radius: 50%;
}

.personal-username {
    flex-grow: 1;
}

.icon {
    color: #b2b2b2;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifications {
    height: 60px;
    background-color: #9bdafc;
    display: flex;
}

.notific {
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notific .fa-bell-slash {
    color: #9bdafc;
    font-size: 17px;
    background-color: #f3fbff;
    padding: 11px;
    border-radius: 50%;
    width: 41px;
    height: 41px;
}

.text-notific {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.text-notific .title-notific {
    margin-bottom: 1px;
}

.text-notific a {
    font-size: 12px;
    color: #5d7f93;
    font-weight: 700;
}

.search {
    height: 40px;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    padding: 4px;
}

.button-search {
    color: #b8babc;
    width: 60px;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
}

.search-input {
    color: #b8babc;
    padding: 0 4px;
    width: 60px;
    height: 100%;
    background-color: #ffffff;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    flex-grow: 1;
}

.chats {
    flex-grow: 1;
    padding: 5px;
    overflow-y: auto;
}

.user {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 5px;
    border-top: 1px solid #f5f5f5;
}

.chat-text {
    flex-grow: 1;
}

.user:hover {
    background-color: #f5f5f5;
}

.user.active {
    background-color: #e9ebeb;
}

.user:first-of-type {
    border-top: none;
}

.user-image {
    height: 100%;
    width: 60px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.user-image img {
    height: 100%;
    border-radius: 50%;
}

.main {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.active-user {
    margin-left: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.active-lastAcces,
.last-message {
    color: #6f7578;
    white-space: nowrap;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-image: url(../img/mine.jpg);
    padding: 40px 70px;
}

.message {
    padding: 7px 5px 3px 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    min-width: 150px;
    max-width: 500px;
    margin-bottom: 15px;
}

.sent {
    align-self: flex-end;
    background-color: #d9fabc;
    
}

.received {
    align-self: flex-start;
    background-color: #ffffff;
}

.message .text {
    align-self: flex-start;
    word-break: break-word;
    margin-bottom: 3px;
    margin-right: 10px;
}

.message .date {
    align-self: flex-end;
    font-size: 10px;
    color: grey;
}

.footer-main {
    padding: 8px 0;
    height: 60px;
    width: 100%;
    background-color: #f3eeea;
    display: flex;
    justify-content: space-evenly;
    flex-shrink: 0;
}

.new-text {
    color: #555555;
    width: 80%;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
}

.new-text::placeholder {
    color: #8f8f8f;
}

.footer-main .icon {
    color: #6e7578;
    font-size: 22px;
}

.overflow-scroll {
    overflow: auto;
}