<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" >
    <link rel="stylesheet" href="./css/main.css">

</head>
<body>
    <div id="app" class="container">
        <aside class="aside">
            <div class="header-aside">
                <div class="personal-image">
                    <img
                        :src="`./img/avatar${user.avatar}.jpg`"
                        :alt="user.name"
                    >
                </div>
                <h5 class="personal-username">{{ user.name }}</h5>
                <div class="icon">
                    <i class="fas fa-circle-notch"></i>
                </div>
                <div class="icon">
                    <i class="fas fa-comment-alt"></i>
                </div>
                <div class="icon">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <div class="notifications">
                <div class="notific">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="text-notific">
                    <div class="title-notific">
                        <h5>Ricevi noifiche di nuovi messaggi</h5>
                    </div>
                    <a href="#" class="link-notific">Attiva notifiche desktop</a>
                </div>

            </div>
            <div class="search">
                <button class="button-search"><i class="fas fa-search"></i></button>
                <input class="search-input" type="text" placeholder="cerca o inizia una nuova chat">
            </div>
            <section class="chats">
                <div
                    v-for="(user, index) in contacts" 
                    class="user"
                    :class="index === activeChat? 'active' :''"
                    @click = "setChat(index)"
                >
                    <div class="user-image">
                        <img :src="`./img/avatar${user.avatar}.jpg`" :alt="user.name">
                    </div>
                    <h4 class="username">{{ user.name }}</h4>
                </div>

            </section>
        </aside>

        <main class="main">
            <div class="header-main">
                <div class="active-user-image">
                    <img
                        :src="`./img/avatar${contacts[activeChat].avatar}.jpg`"
                        :alt="contacts[activeChat].name"
                    >
                </div>
                <div class="active-user">
                    <div class="active-username">
                        <h4>{{ contacts[activeChat].name }}</h4>
                    </div>
                    <div class="active-lastAcces">
                        <h6>Oggi</h6>
                    </div>
                </div>
                <div class="icon">
                    <i class="fas fa-search"></i>
                </div>
                <div class="icon">
                    <i class="fas fa-paperclip"></i>
                </div>
                <div class="icon">
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </div>
            <section class="main-content">
                <div
                    v-for="message in contacts[activeChat].messages"
                    class="message"
                    :class="message.status === 'sent'? 'sent' :'received'"
                >
                    <div class="text">{{ message.text }}</div>
                    <div class="date">{{ message.date }}</div>
                </div>
            </section>
            <div class="footer-main">
                <div class="icon"><i class="far fa-smile"></i></i></div>
                <input class="new-text" type="text" placeholder="Scrivi un messaggio">
                <div class="icon"><i class="fas fa-microphone"></i></i></div>
            </div>
        </main>
    </div>

    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- js -->
    <script src="./js/main.js"></script>
</body>
</html>